:root,
body {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  text-align: center;
}

body {
  padding: 1rem;
}

.layout {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

.layout-cover,
.layout-top-left,
.layout-top-center,
.layout-top-right,
.layout-center-left,
.layout-center,
.layout-center-right,
.layout-bottom-left,
.layout-bottom-center,
.layout-bottom-right {
  display: grid;
  place-content: center;
}

.layout-cover {
  grid-column: 1 / 4;
  grid-row: 1 / 4;
}

.layout-top-left {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.layout-top-center {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.layout-top-right {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.layout-center-left {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.layout-center {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.layout-center-right {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.layout-bottom-left {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.layout-bottom-center {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.layout-bottom-right {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}
