:root {
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-size: inherit;
  font-style: normal;
}

nav {

  & ul {
    display: grid;
    gap: 0.25em;
  }

  & a {
    color: white;
    font-size: 5em;
    letter-spacing: 0.025em;
    text-decoration: none;
    text-shadow: 
      0.025em 0.025em 0 black,
      0.05em 0.05em 0 rgba(0,0,0,0.125);
    -webkit-text-stroke: 0.025em black;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  letter-spacing: 0.025em;
  line-height: 0.9em;
}

h1 {
  font-size: 33vh;
  text-shadow: 
    0.025em 0.025em 0 black,
    0.0375em 0.0375em 0 rgba(0,0,0,0.125);
  -webkit-text-stroke: 0.0125em black;
}

h2 {
  font-size: 20vh;
  text-shadow: 
    0.0375em 0.0375em 0 black,
    0.05em 0.05em 0 rgba(0,0,0,0.125);
  -webkit-text-stroke: 0.0175em black;
}

h3 {
  font-size: 10vh;
  text-shadow: 
    0.05em 0.05em 0 black,
    0.075em 0.075em 0 rgba(0,0,0,0.125);
  -webkit-text-stroke: 0.025em black;
}
